<div class="card bg-dark text-white mt-3">
  <div class="card-header">{{ 'ThankYouPageAdvice' | translate }}</div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col">{{ 'ThankYouPageOrderNumber' | translate }} {{ orderId }}</div>
      </div>
      <div class="row my-5">
          <div class="col text-center">
              <h2>
                  {{ 'ThankYouPageMessage' | translate }} {{ 'AppName' | translate}}
              </h2>
          </div>
      </div>
      <div class="row mb-5">
          <div class="col text-center">
              <button class="btn btn-primary" (click)= "continue()">{{ 'ThankYouPageButtonContinueShopping' | translate }}</button>
          </div>
      </div>
    </div>
  </div>
</div>
