<!--<app-form *ngIf="selectedItem" [item]="selectedItem"></app-form>-->
<div class="container-fluid col">
  <div class="row">
    <div class="col">
      <div id="accordion">
        <div class="card mt-3 bg-dark">
          <div class="card-header">
            <h5 class="mb-0">
              <button
                id="btnFiltersItems"
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#filters"
              >
                {{ "Filters" | translate }}
              </button>
            </h5>
          </div>
          <div id="filters" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="container-fluid">
                <div class="row text-light">
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">{{ "Name" | translate }}</div>
                        <div class="col-12 px-0">
                          <input
                            type="text"
                            name="fName"
                            [value]="fName"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">
                          {{ "Quantity" | translate }}
                        </div>
                        <div class="col-12 px-0">
                          <input
                            type="number"
                            name="fAmount"
                            [value]="fAmount"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">
                          {{ "Description" | translate }}
                        </div>
                        <div class="col-12 px-0">
                          <input
                            type="text"
                            name="fDescription"
                            [value]="fDescription"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">
                          {{ "Picture" | translate }}
                        </div>
                        <div class="col-12 px-0">
                          <input
                            type="text"
                            name="fPicture"
                            [value]="fPicture"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card bg-dark">
        <div class="card">
          <div class="card-header">
            <div class="my-3 text-left">
              <button
                *ngIf="
                  authService.hasRole('ROLE_ADMIN') ||
                  authService.hasRole('ROLE_CLERK')
                "
                class="btn btn-rounded btn-success"
                routerLink="/items/form"
              >
                {{ "Create" | translate }}
              </button>
            </div>
          </div>
          <div class="card-body">
            <table aria-describedby="itemsTable" class="table">
              <thead>
                <tr>
                  <th
                    scope="col"
                    (click)="changeOrder('picture')"
                    [ngClass]="{
                      sorting_asc: orderAsc('picture'),
                      sorting_desc: orderDesc('picture')
                    }"
                  >
                    {{ "Picture" | translate }}
                  </th>
                  <th
                    scope="col"
                    (click)="changeOrder('name')"
                    [ngClass]="{
                      sorting_asc: orderAsc('name'),
                      sorting_desc: orderDesc('name')
                    }"
                  >
                    {{ "Name" | translate }}
                  </th>
                  <th
                    scope="col"
                    (click)="changeOrder('amount')"
                    [ngClass]="{
                      sorting_asc: orderAsc('amount'),
                      sorting_desc: orderDesc('amount')
                    }"
                  >
                    {{ "Price" | translate }}
                  </th>
                  <th
                    scope="col"
                    (click)="changeOrder('description')"
                    [ngClass]="{
                      sorting_asc: orderAsc('description'),
                      sorting_desc: orderDesc('description')
                    }"
                  >
                    {{ "Description" | translate }}
                  </th>
                  <th
                    *ngIf="
                      authService.hasRole('ROLE_ADMIN') ||
                      authService.hasRole('ROLE_CLERK') ||
                      authService.hasRole('ROLE_CLIENT')
                    "
                    scope="col"
                  >
                    {{ "Item" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of filteredItems">
                  <tr *ngIf="item.item_id > 1">
                    <td>
                      <img
                        class="imageSize"
                        src="http://localhost:8080/api/uploads/img/{{ item.picture }}"
                        alt="Bone"
                      />
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                      <button
                        *ngIf="authService.hasRole('ROLE_CLIENT')"
                        type="button"
                        name="editar"
                        class="btn btn-primary"
                        style="margin-right: 10px"
                        (click)="addToCart(item)"
                      >
                        <!--[routerLink]="['/clientes/formulario', cli.id]"-->
                        <em class="bi bi-cart-plus"></em>
                      </button>
                      <button
                        *ngIf="
                          authService.hasRole('ROLE_ADMIN') ||
                          authService.hasRole('ROLE_CLERK')
                        "
                        type="button"
                        name="editar"
                        class="btn btn-primary"
                        style="margin-right: 10px"
                        [routerLink]="['/items/form', item.item_id]"
                      >
                        <!--[routerLink]="['/clientes/formulario', cli.id]"-->
                        <em class="bi bi-pencil"></em>
                      </button>
                      <button
                        *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_CLERK')"
                        type="button"
                        name="eliminar"
                        class="btn btn-danger"
                        (click)="delete(item)"
                      >
                        <!--(click)="delete(item)"-->
                        <em class="bi bi-eraser"></em>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
