<div class="container-fluid col">
  <div class="row">
    <div class="col">
      <div id="accordion">
        <div class="card mt-3 bg-dark">
          <div class="card-header">
            <h5 class="mb-0">
              <button
                id="btnFiltersItems"
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#filters"
              >
                Filtros
              </button>
            </h5>
          </div>
          <div id="filters" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="container-fluid">
                <div class="row text-light">
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">Nombre</div>
                        <div class="col-12 px-0">
                          <input
                            type="text"
                            name="fName"
                            [value]="fName"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">Cantidad</div>
                        <div class="col-12 px-0">
                          <input
                            type="number"
                            name="fAmount"
                            [value]="fAmount"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">Descripción</div>
                        <div class="col-12 px-0">
                          <input
                            type="text"
                            name="fDescription"
                            [value]="fDescription"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="container-fluid px-0">
                      <div class="row">
                        <div class="col-12 px-0">Foto</div>
                        <div class="col-12 px-0">
                          <input
                            type="text"
                            name="fPicture"
                            [value]="fPicture"
                            (input)="applyFilter($event)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card bg-dark">
        <div class="card">
          <div class="card-header">
            <div class="my-3 text-left">
              <button class="btn btn-rounded btn-success">
                <!--[routerLink]="['/users/rutadelformulario']"-->
                Crear
              </button>
            </div>
          </div>
          <div class="card-body">
            <table aria-describedby="itemsTable" class="table">
              <thead>
                <tr>
                  <th
                    scope="col"
                    (click)="changeOrder('picture')"
                    [ngClass]="{
                      sorting_asc: orderAsc('picture'),
                      sorting_desc: orderDesc('picture')
                    }"
                  >
                    Foto
                  </th>
                  <th
                    scope="col"
                    (click)="changeOrder('name')"
                    [ngClass]="{
                      sorting_asc: orderAsc('name'),
                      sorting_desc: orderDesc('name')
                    }"
                  >
                    Nombre
                  </th>
                  <th
                    scope="col"
                    (click)="changeOrder('amount')"
                    [ngClass]="{
                      sorting_asc: orderAsc('amount'),
                      sorting_desc: orderDesc('amount')
                    }"
                  >
                    Cantidad
                  </th>
                  <th
                    scope="col"
                    (click)="changeOrder('description')"
                    [ngClass]="{
                      sorting_asc: orderAsc('description'),
                      sorting_desc: orderDesc('description')
                    }"
                  >
                    Descripción
                  </th>
                  <th scope="col">Item</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredItems">
                  <td>
                    <img
                      class="imageSize"
                      src="http://localhost:8080/img/bone.png"
                      alt="Bone"
                    />
                  </td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.description }}</td>
                  <td>
                    <button
                      type="button"
                      name="editar"
                      class="btn btn-primary"
                      style="margin-right: 10px"
                    >
                      <!--[routerLink]="['/clientes/formulario', cli.id]"-->
                      <em class="bi bi-pencil"></em>
                    </button>
                    <button
                      type="button"
                      name="eliminar"
                      class="btn btn-danger"
                    >
                      <!--(click)="delete(item)"-->
                      <em class="bi bi-eraser"></em>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
