<div class="container table">
  <div class="row">
    <div class="col mt-5 column1">
      <div class="container height text-white mt-5 me-5 ms-5">
        <h3 class="bold">
          {{ title }}
        </h3>
        <br>
        {{ text1 }}
        <br><br>
        {{ text2 }}
      </div>
    </div>
    <div class="col mt-5 column2">
      <div class="container height text-white mt-5 me-5 ms-5">
        <div class="form-group text-center">
          <label class="bold">Email</label>
          <input [(ngModel)]="user.email" type="text" class="form-control input" placeholder="Escriba su email" autofocus required>
        </div>
        <div class="form-group text-center">
          <label class="bold">Contraseña</label>
          <input [(ngModel)]="user.password" type="password" class="form-control input" placeholder="Escriba su contraseña" required>
        </div><br>
        <div class="form-group text-center">
          <button (click)='login()' type="submit" class="btn btnLogin text-white">Entrar</button>
        </div>
        <div class="text-center">
          <span><a class="text-white">¿No tienes una cuenta? Regístrate</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
