<nav class="header">
  <div class="headerContainer">
    <a class="navbar-brand text-white display-1" href="#">{{ "AppName" | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<nav class="navbar navbar-expand-md navBar mx-1 bg-dark">
  <button
    class="navbar-toggler navbar-toggler-right ml-aut"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="bi bi-list"> </span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_CLERK')" class="nav-item">
        <a class="nav-link active" routerLink="/items">
          {{ "Products" | translate }}
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_CLIENT')" class="nav-item right">
        <a class="nav-link text-white">
          {{ "Cart" | translate }}
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" routerLink="/users">
          {{ "Users" | translate }}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/register">
          {{ "Register" | translate }}
        </a>
      </li>
      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/login">
          {{ "Login" | translate }}
        </a>
      </li>
      <li class="dropdown">
          <select class="btn btn-outline-primary dropdown-toggle" #selectedLang (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang" class="dropdown-item">
            {{ language }}
            </option>
          </select>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a *ngIf="authService.user != null" class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.user.first_name}} {{authService.user.middle_name}} {{authService.user.last_name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">{{ "Logout" | translate }}</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
