<div class="container mt-3">

  <div class="container">
    <button class="btn btn-primary" type="button" name="button">Seguir comprando</button>
    <div class="row mt-3">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Productos en el carrito</h4>
          </div>
          <div class="card-body">
            <table class="table">
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
              </tr>
              <tr>
                <td>foto</td>
                <td>nombre</td>
                <td>cantidad</td>
                <td>precio</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Datos Compra</h4>
          </div>
          <div class="card-body">
            <h5>Nombre Usuario</h5>
            <h5>Tipo de Pago</h5>
            <h5>Precio Total</h5>

            <button class="btn btn-success" type="button" name="button">Pagar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
