<div class="card bg-dark text-white mt-3">
  <div class="card-header">
    {{title}}
  </div>
  <div class="divAll">
    <!-- Fotografía y botón seleccionarArchivo -->
    <div class="divLeftSide">
      <div class="divImgProduct">
        <img
          id="imgProductDetail"
          *ngIf="item?.picture"
          src="http://localhost:8081/api/uploads/img/{{ item.picture }}/"
          alt="{{ item.picture }}"
        />
        <input
          #file
          type="file"
          name="picture"
          (change)="selectImage(file.files)"
          class="form-control"
          id="formFileLg"
        />
      </div>
      <br />
      <div *ngIf="progress > 0" class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [ngStyle]="{ width: progress + '%' }"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ progress }}
        </div>
      </div>
    </div>

    <!-- Información principal de Producto -->
    <div class="divRightSide">
      <form #formItem="ngForm" class="row g-3">
        <div class="col-12">
          <label for="inputName" class="form-label">Nombre</label>
          <input
            #name="ngModel"
            [(ngModel)]="item.name"
            type="text"
            class="form-control"
            id="inputName"
            name="name"
            placeholder="Nombre de producto"
            value="{{ item.name }}"
          />
        </div>
        <div class="col-md-6">
          <label for="inputAmount" class="form-label">Cantidad</label>
          <input
            #amount="ngModel"
            [(ngModel)]="item.amount"
            type="number"
            class="form-control"
            name="amount"
            id="inputAmount"
            placeholder="Cantidad"
            value="{{ item.amount }}"
          />
          <label for="inputPrice" class="form-label">Precio</label>
          <input
            #price="ngModel"
            [(ngModel)]="item.price"
            type="number"
            class="form-control"
            name="price"
            id="inputPrice"
            placeholder="Precio por unidad"
            value="{{ item.price }}"
          />
          <label for="inputCategory" class="form-label">Categoría</label>
          <input
            #category="ngModel"
            [(ngModel)]="item.category"
            type="text"
            class="form-control"
            name="category"
            id="inputCategory"
            placeholder="Categoría"
            value="{{ item.category }}"
          />
        </div>
        <div class="col-md-6">
          <label for="inputDescription" class="form-label">Descripción</label>
          <textarea
            #description="ngModel"
            [(ngModel)]="item.description"
            type="text"
            class="form-control"
            id="inputDescription"
            name="description"
            placeholder="Descripción del producto"
            value="{{ item.description }}"
          ></textarea>
        </div>

        <!-- Log de Errores -->
        <div class="divErrorLog">
          <label for="inputLog" class="form-label">Log</label>
          <textarea
            type="text"
            class="form-control"
            id="inputLog"
            placeholder="Log de Errores"
          ></textarea>
        </div>
      </form>
    </div>

    <!-- Botones -->
    <div class="btnsDiv">
      <div class="btnDivLeftSide">
        <button
          type="button"
          class="btn btn-secondary"
          [routerLink]="['/items']"
        >
          <!-- [routerLink]="['/clientes/formulario', cli.id]"-->
          Atrás
        </button>
      </div>
      <div class="btnsDivRightSide">
        <button class="btn btn-primary" role="button" type="submit" (click)= "create()" *ngIf="!item.item_id else elseBlock" [disabled]="!formItem.form.valid">Crear</button>
        <ng-template #elseBlock>  <button class="btn btn-primary" role="button" type="submit" (click)= "update()" [disabled]="!formItem.form.valid">Actualizar</button></ng-template>
      </div>
    </div>
  </div>
</div>
