<footer class="footer">
  <div class="footerDiv py-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1">
          <div class="footerContainer">
            <img
              class="footerImg"
              src=".\assets\img\huella.png"
              alt="LogoMasQuePerros"
              (click)="goToIndex()" 
            />
          </div>
        </div>
        <div class="col-10 text-center" >
        &copy; {{ "AppName" | translate}} {{ "AllRightsReservedAdvice" | translate}}
        </div>
      </div>
    </div>
  </div>
</footer>
