.footer{
  background-color: #aad8d3;
  width: 100%;
}

.footerDiv{
  width: 100%;
  height: 100%;
}

.footerContainer{
  width: 60px;
  height: 61px;
  margin-left: 20px;
}

.footerImg{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.row{
  align-items: center;
}
