<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#filtros"
                aria-expanded="true"
                aria-controls="filtros"
              >
                Filtros
              </button>
            </h5>
          </div>
          <div id="filtros" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <!--Aqui van los filtros-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="my-3 text-left">
        <button class="btn btn-rounded btn-primary">
          <!--[routerLink]="['/users/rutadelformulario']"-->
          Crear
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table aria-describedby="tablaClientes" class="table">
        <thead>
          <tr>
            <th
              scope="col"
              (click)="cambioOrden('username')"
              [ngClass]="{
                sorting_asc: ordenarAsc('username'),
                sorting_desc: ordenarDesc('username')
              }"
            >
              Nombre Usuario
            </th>
            <th
              scope="col"
              (click)="cambioOrden('payment_method')"
              [ngClass]="{
                sorting_asc: ordenarAsc('payment_method'),
                sorting_desc: ordenarDesc('payment_method')
              }"
            >
              Método de pago 
              <span></span>
            </th>
            <th
              scope="col"
              (click)="cambioOrden('role')"
              [ngClass]="{
                sorting_asc: ordenarAsc('role'),
                sorting_desc: ordenarDesc('role')
              }"
            >
              Perfil
            </th>
            <th scope="col">Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.payment_method.description }}</td>
            <td>{{ user.role.name }}</td>
            <td>
              <button
                type="button"
                name="editar"
                class="btn btn-primary"
                style="margin-right: 10px"
              >
                <!--[routerLink]="['/clientes/formulario', cli.id]"-->
                <em class="bi bi-pencil"></em>
              </button>
              <button type="button" name="eliminar" class="btn btn-danger">
                <!--(click)="delete(cli)"-->
                <em class="bi bi-eraser"></em>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
